.navigations {
    width: 100%;
    height: 5rem;
    opacity: 50%;
    background-color: #020303;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-list {
    width: 15%;
    display: flex;
    justify-content: space-between;
}